{:paths ["src"]
 :deps {http-kit                       {:mvn/version "2.2.0"}
        cheshire                       {:mvn/version "5.6.3"}}

 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://repo.clojars.org/"}}

 :aliases {:dev {:jvm-opts ^:replace ["-XX:-OmitStackTraceInFastThrow"]
                 :extra-paths ["test"]}}}
